<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <p>Create User</p>
  <form action="/users" method="post">
    <p>
      <label>
        <span>id: </span>
        <input type="text" name="id">
      </label>
    </p>
    <p>
      <label>
        <span>login: </span>
        <input type="text" name="login">
      </label>
    </p>
    <p>
      <label>
        <span>password: </span>
        <input type="text" name="password">
      </label>
    </p>
    <p>
      <label>
        <span>age: </span>
        <input type="text" name="age">
      </label>
    </p>
    <button type="submit">Create</button>
  </form>
  <hr>
  <p>Update user</p>
  <form action="/update" method="put">
    <p>
      <label>
        <span>id: </span>
        <input type="text" name="id">
      </label>
    </p>
    <p>
      <label>
        <span>login: </span>
        <input type="text" name="login">
      </label>
    </p>
    <p>
      <label>
        <span>password: </span>
        <input type="text" name="password">
      </label>
    </p>
    <p>
      <label>
        <span>age: </span>
        <input type="text" name="age">
      </label>
    </p>
    <button type="submit">Update</button>
  </form>
</body>
</html>